@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --fuente-principal: 'Vend Sans', sans-serif;
  --fuente-titulos: 'Caprasimo', cursive;
  --color-texto: #33191A;
  --color-boton: #AD6A71;
  --color-fondo: #FDF2E1;
  --peso-fuente-principal: 600;
  --tamaño-fuente-principal: 18px;
  --tamaño-fuente-titulos: 24px;
  --tamaño-fuente-botones: 20px;
}

body{
  background-color: var(--color-fondo);
}

header{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.header__logo{
  width: 180px;
  height: 100px;
  padding: 5px;
}

.header__menu{
  display: flex;
  gap: 50px;
}

.header__menu--izquierdo{
  margin-left: auto;
} 

.menu__item{
  font-family: var(--fuente-titulos);
  text-decoration: none;
  font-size: var(--tamaño-fuente-titulos);
  color: var(--color-texto);
}

.menu__item--derecho{
  margin-top: 7px;
}

.btn--link{
  text-decoration: none;
  color: var(--color-fondo);
}

.btn{
  padding: 10px 20px;
  font-family: var(--fuente-titulos);
  font-size: var(--tamaño-fuente-botones);
  background-color: var(--color-boton);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-fondo);
}

.destacado {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  justify-items: center;
  align-items: center;
}

.destacado__banner {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

.destacado__bannerfondo{
  width: 98.5vw;
  height: 83vh;
}

.destacado__info {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.destacado__texto {
  color: var(--color-texto);
  font-family: var(--fuente-titulos);
  font-size: 32px;
  text-transform: uppercase;
}

.destacado__subtexto {
  color: var(--color-texto);
  font-family: var(--fuente-principal);
  font-size: var(--tamaño-fuente-principal);
  text-align: center;
  font-weight: var(--peso-fuente-principal);
}

.titulo_section{
  font-family: var(--fuente-titulos);
  font-size: var(--tamaño-fuente-titulos);
  color: var(--color-texto);
  text-align: center;
  width: 15%;
  margin: 20px auto;
  text-shadow: #FEC4D2 2px 3px 1px;
  letter-spacing: 1px;
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(350px, auto);
  grid-auto-flow: dense;
  gap: 20px;
  padding: 30px;
}

.producto__item {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  text-align: center;
}

.producto__imagen {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 15px;
  object-fit: cover;
}

.producto__nombre {
  font-family: var(--fuente-titulos);
  font-size: var(--tamaño-fuente-botones);
  color: var(--color-texto);
  margin-bottom: 10px;
}

.producto__precio {
  font-family: var(--fuente-principal);
  font-size: var(--tamaño-fuente-principal);
  color: var(--color-texto);
  font-weight: var(--peso-fuente-principal);
}

.nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "contenido contenido imagen";
  gap: 10%;
  padding: 40px;
  align-items: flex-start;
}

.nosotros__imagen {
  grid-area: imagen;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.nosotros__imagen img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.nosotros__contenido {
  grid-area: contenido;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  gap: 10px;
}

.nosotros__titulo {
  font-size: var(--tamaño-fuente-titulos);
  color: var(--color-texto);
  font-family: var(--fuente-titulos);
  margin: 10px auto;
  letter-spacing: 0.5px;
}

.nosotros__descripcion {
  font-size: var(--tamaño-fuente-principal);
  line-height: 1.8;
  color: var(--color-texto);
  font-family: var(--fuente-principal);
}

.nosotros__descripcion--centrado {
  text-align: center;
  font-weight: bold;
}

.contacto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5%;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.contacto__seccion{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input{
  padding: 5px;
}

.contacto__texto{
  font-family: var(--fuente-principal);
  font-size: 16px;
  color: var(--color-texto);
  border: 1px solid rgb(175, 163, 123);
  border-radius: 5px;
}

.contacto__texto--select{
  padding: 5px;
}

.contacto__texto--mensaje{
  height: 110px;
  padding: 5px;
}

label{
  font-family: var(--fuente-principal);
  font-size: var(--tamaño-fuente-principal);
  color: var(--color-texto);
}
.contacto__btn {
  grid-column: span 2;
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 40px;
}


footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  align-items: center;
  background-color: #f8b2bd; /* tu color pastel */
  padding: 2rem;
  text-align: center;
}

/* Logo */
.footer__logo {
  width: 180px;
  height: 100px;
  justify-self: center;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--tamaño-fuente-principal);
  font-family: var(--fuente-principal);
}

.footer__link {
  color: var(--color-texto);
  text-decoration: none;
}

/* Redes sociales */
.footer__redes {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer__red {
  width: 40px;
  height: 40px;
}
.footer__redes i {
  font-size: 30px;
  color: var(--color-texto);
}

